#!/bin/bash

#SBATCH --partition=broadwl
#SBATCH --account=pi-rkessler
#SBATCH --job-name=REPLACE_NAME
#SBATCH --output=REPLACE_LOGFILE
#SBATCH --time=24:00:00
#SBATCH --nodes=1
#SBATCH --mem-per-cpu=1000
#SxxxxBATCH --exclusive
#SxxxxBATCH --ntasks-per-node=1
# Do not need memory = REPLACE_MEM

echo $SLURM_JOB_ID starting execution `date` on `hostname`


REPLACE_JOB
